<div class="row bg-light">
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-10">
        <div class="col-sm-3"></div>
<div class="col-sm-6 text-center">
 <div class="alert alert-success col-sm-10" *ngIf="registrationsuccess;else failmessage">
   <strong>{{registrationsuccess}} !!</strong>
 </div>
 <ng-template #failmessage>
   <div class="alert alert-danger" *ngIf="regisfail">
     <strong>{{regisfail}} !!</strong>
   </div>
 </ng-template>
</div>

<div class="col-sm-3"></div>
        <div class="container mt-3">

            <form class="form-horizontal" [formGroup]="RecruiterRegisterForm"> 
                <div class="fontuser form-group">
                    <!-- <label for="email" class="col-sm-3 control-label">Email* </label> -->                    
                    <div class="col-sm-9">
                        <input type="email" formControlName="email" id="email" placeholder="Enter your email" class="form-control fontawesomyInputRgstr" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div style="color: red;"  class="col-sm-9" *ngIf="submitted && form.email.errors">
                         *Valid email is required
                    </div>
                </div>
                <div class="fontuser form-group">
                    <!-- <label for="password" class="col-sm-3 control-label">Password*</label> -->
                    <div class="col-sm-9">
                        <input type="password" id="password" formControlName="password" placeholder="Enter a password" class="form-control fontawesomyInputRgstr" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
                        <i class="fa fa-lock"></i>
                    </div>
                    <div style="color: red;"  class="col-sm-9" *ngIf="submitted && form.password.errors">
                         *Valid password is required
                    </div>
                </div>
                <div class="fontuser form-group">
                    <!-- <label for="mobile" class="col-sm-3 control-label">mobile</label> -->
                    <div class="col-sm-9">
                        <input type="mobile" id="mobile" formControlName="mobile" placeholder="Phone number"class="form-control fontawesomyInputRgstr">
                        <i class="fa fa-phone"></i>
                    </div>
                </div>        
                <div class="fontuser form-group">
                    <!-- <label for="firstName" class="col-sm-3 control-label">firstName</label> -->
                    <div class="col-sm-9">
                        <input type="firstName" id="firstName" formControlName="firstName" placeholder="First Name" class="form-control fontawesomyInputRgstr" [ngClass]="{ 'is-invalid': submitted && form.firstName.errors }" />
                        <i class="fa fa-address-card"></i>
                    </div>
                    <div style="color: red;"  class="col-sm-9" *ngIf="submitted && form.firstName.errors">
                        *First Name is required
                   </div>
                </div>        
                <div class="fontuser form-group">
                    <!-- <label for="lastName" class="col-sm-3 control-label">lastName</label> -->
                    <div class="col-sm-9">
                        <input type="lastName" id="lastName" formControlName="lastName" placeholder="Last Name" class="form-control fontawesomyInputRgstr">
                        <i class="fa fa-address-card-o"></i>
                    </div>
                </div>
                <div class="fontuser form-group">
                    <!-- <label for="country" class="col-sm-3 control-label">country</label> -->
                    <div class="col-sm-9">
                        <input type="country" id="country" formControlName="country" placeholder="Country" class="form-control fontawesomyInputRgstr">
                        <i class="fa fa-globe"></i>
                    </div>
                </div>
                <div class="fontuser form-group">
                    <!-- <label for="state" class="col-sm-3 control-label">state</label> -->
                    <div class="col-sm-9">
                        <input type="state" id="state" formControlName="state" placeholder="State" class="form-control fontawesomyInputRgstr">
                        <i class="fa fa-anchor"></i>
                    </div>
                </div>
                <div class="fontuser form-group">
                    <!-- <label for="companyname" class="col-sm-3 control-label">CompanyName</label> -->
                    <div class="col-sm-9">
                        <input type="text" id="companyname" formControlName="companyName" placeholder="Name of the organization" autofocus class="form-control fontawesomyInputRgstr" [ngClass]="{ 'is-invalid': submitted && form.companyName.errors }" />
                        <i class="fa fa-sitemap"></i>
                    </div>
                    <div style="color: red;"  class="col-sm-9" *ngIf="submitted && form.companyName.errors">
                        *Company Name is required
                   </div>
                </div>
                <div class="fontuser form-group">
                    <!-- <label for="referenceCOde" class="col-sm-3 control-label">referenceCOde</label> -->
                    <div class="col-sm-9">
                        <input type="referenceCOde" id="referenceCOde" formControlName="referenceCOde" placeholder="Reference Code" class="form-control fontawesomyInputRgstr">
                        <i class="fa fa-asterisk"></i>
                    </div>
                </div>
                <div class="fontuser form-group">
                    <!-- <label for="inviteCode" class="col-sm-3 control-label">inviteCode</label> -->
                    <div class="col-sm-9">
                        <input type="inviteCode" id="inviteCode" formControlName="inviteCode" placeholder="Invite Code" class="form-control fontawesomyInputRgstr">
                        <i class="fa fa-paw"></i>
                    </div>
                </div>                        
                <!-- <div class="form-group">
                    <label for="industry" class="col-sm-3 control-label">Industry</label>
                    <div class="col-sm-9">
                        <input type="text" id="industry" formControlName="industryType" placeholder="Last Designation" class="form-control"  >
                    </div>
                </div>
                <div class="form-group">
                    <label for="exp" class="col-sm-3 control-label">Experience </label>
                    <div class="col-sm-9">
                        <input type="number" id="exp" formControlName="yearsofExp" placeholder="Exp. In Years" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="about" class="col-sm-3 control-label">About</label>
                    <div class="col-sm-9">
                        <input type="text" id="about" formControlName="About" placeholder="Not Mandatory" class="form-control"  autofocus>
                    </div>
                </div> -->

                <div class="form-group">
                    <div class="col-sm-9">
                        <input id="id_tos" name="tos" type="checkbox" oninvalid="this.setCustomValidity('Please select at least one option to proceed')"> &nbsp;
                        <label for="id_tos">
                            <span>I agree with <a target="_blank" href="https://www.workingnomads.com/terms-and-conditions">Terms of Service</a>.</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input id="id_privacy" name="privacy" type="checkbox" required> &nbsp;
                        <label for="id_privacy">
                            <span>I agree with <a target="_blank" href="https://www.workingnomads.com/privacy-policy">Privacy policy</a>.</span>
                        </label>
                    </div>
                </div>                
                <button type="submit" class="btn btn-primary"  (click)="register_rectuiter()">Register</button>
            </form> <!-- /form -->
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
