
<div class="row bg-light">
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-10">
        <div class="col-sm-3"></div>
<div class="col-sm-6 text-center">
 <div class="alert alert-success col-sm-10" *ngIf="registrationsuccess;else failmessage">
   <strong>{{registrationsuccess}} !!</strong>
 </div>
 <ng-template #failmessage>
   <div class="alert alert-danger" *ngIf="regisfail">
     <strong>{{regisfail}} !!</strong>
   </div>
 </ng-template>
</div>
<div class="col-sm-3"></div>
        <div class="container mt-3">

            <form class="form-horizontal" [formGroup]="EmpRegisterForm">


                <div class="fontuser form-group">
                    <!-- <label for="email" class="col-sm-3 control-label">Email* </label> -->                    
                    <div class="col-sm-9">
                        <input type="email" formControlName="email" id="email" placeholder="Enter your email" class="form-control fontawesomyInputRgstr" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div style="color: red;"  class="col-sm-9" *ngIf="submitted && form.email.errors">
                        *Valid email is required
                   </div>
                </div>
                
                <div class="fontuser form-group">
                    <!-- <label for="password" class="col-sm-3 control-label">Password*</label> -->
                    <div class="col-sm-9">
                        <input type="password" id="password" formControlName="password" placeholder="Enter a password" class="form-control fontawesomyInputRgstr"  [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
                        <i class="fa fa-lock"></i>
                    </div>
                    <div style="color: red;"  class="col-sm-9" *ngIf="submitted && form.password.errors">
                        *Valid password is required
                   </div>
                </div>
                 
                <div class="fontuser form-group">
                    <!-- <label for="mobile" class="col-sm-3 control-label">mobile</label> -->
                    <div class="col-sm-9">
                        <input type="mobile" id="mobile" formControlName="mobile" placeholder="Phone number"class="form-control fontawesomyInputRgstr">
                        <i class="fa fa-phone"></i>
                    </div>
                </div>
                <div class="fontuser form-group">
                    <!-- <label for="firstName" class="col-sm-3 control-label">firstName</label> -->
                    <div class="col-sm-9">
                        <input type="firstName" id="firstName" formControlName="firstName" placeholder="First Name" class="form-control fontawesomyInputRgstr"  [ngClass]="{ 'is-invalid': submitted && form.firstName.errors }" />
                        <i class="fa fa-address-card"></i>
                    </div>
                    <div style="color: red;"  class="col-sm-9" *ngIf="submitted && form.firstName.errors">
                        *First Name is required
                   </div>
                </div>        
                <div class="fontuser form-group">
                    <!-- <label for="lastName" class="col-sm-3 control-label">lastName</label> -->
                    <div class="col-sm-9">
                        <input type="lastName" id="lastName" formControlName="lastName" placeholder="Last Name" class="form-control fontawesomyInputRgstr">
                        <i class="fa fa-address-card-o"></i>
                    </div>
                </div>
                <div class="fontuser form-group">
                    <!-- <label for="country" class="col-sm-3 control-label">country</label> -->
                    <div class="col-sm-9">
                        <input type="country" id="country" formControlName="country" placeholder="Country" class="form-control fontawesomyInputRgstr">
                        <i class="fa fa-globe"></i>
                    </div>
                </div>
                <div class="fontuser form-group">
                    <!-- <label for="state" class="col-sm-3 control-label">state</label> -->
                    <div class="col-sm-9">
                        <input type="state" id="state" formControlName="state" placeholder="State" class="form-control fontawesomyInputRgstr">
                        <i class="fa fa-anchor"></i>
                    </div>
                </div>


                <div class="fontuser form-group">
                    <div class="col-sm-9">
                        <input type="text" id="profession" formControlName="profession" placeholder="profession" autofocus class="form-control fontawesomyInputRgstr">
                        <i class="fa fa-group"></i>
                    </div>
                </div>

                <div class="fontuser form-group">
                    <label class="col-sm-3 control-label">Skill List(max-3):</label>
                    <select name="skillList" id="skillList" class="custom-select" multiple formControlName="skillList">
                        <option value="IOT">IOT</option>
                        <option value="AI">AI</option>
                        <option value="ML">ML</option>
                        <option value="WEB DEVELOPEMNT">WEB DEVELOPEMNT</option>
                    </select>
                </div> 
                <div class="fontuser form-group">
                    <label class="col-sm-3 control-label">Select Industry</label>
                    <select name="Industry" id="dep" formControlName="Industry">
                        <option value="IT" selected>IT</option>
                        <option value="Service">Service</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="fontuser form-group">
                    <!-- <label for="referenceCOde" class="col-sm-3 control-label">referenceCOde</label> -->
                    <div class="col-sm-9">
                        <input type="referenceCOde" id="referenceCOde" formControlName="referenceCOde" placeholder="Reference Code" class="form-control fontawesomyInputRgstr">
                        <i class="fa fa-asterisk"></i>
                    </div>
                </div>
                <div class="fontuser form-group">
                    <!-- <label for="inviteCode" class="col-sm-3 control-label">inviteCode</label> -->
                    <div class="col-sm-9">
                        <input type="inviteCode" id="inviteCode" formControlName="inviteCode" placeholder="Invite Code" class="form-control fontawesomyInputRgstr">
                        <i class="fa fa-paw"></i>
                    </div>
                </div>

                <!-- <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Confirm Password*</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Date of Birth*</label>
                    <div class="col-sm-9">
                        <input type="date" id="birthDate" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                        <label for="Height" class="col-sm-3 control-label">Height* </label>
                    <div class="col-sm-9">
                        <input type="number" id="height" placeholder="Please write your height in centimetres" class="form-control">
                    </div>
                </div>
                 <div class="form-group">
                        <label for="weight" class="col-sm-3 control-label">Weight* </label>
                    <div class="col-sm-9">
                        <input type="number" id="weight" placeholder="Please write your weight in kilograms" class="form-control">
                    </div>
                </div> -->
                 <!-- /.form-group -->
                <!-- <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Required fields</span>
                    </div>
                </div> -->
                <button type="submit" class="btn btn-primary"  (click)="registeremployee()">Register</button>
            </form> <!-- /form -->
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
